<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlServerName" value="localhost\sql2012"/>
    <add key="DatabaseName" value="AdventureWorks2012"/>

    <add key="TestObjectSchemaName" value="Production"/>
    <add key="TestObjectName" value="Product"/>
  </appSettings>
</configuration>